@model IEnumerable<Bakery.Models.Product>
@{
    ViewBag.Title = "Product";
}

<div class="jumbotron">
    <h1>Products</h1>
</div>
<!-- This creates a table with a class "table" with the table name of Grant Key, Grant Name, Grant Description, Grant Maxium-->
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ProductKey)</th>
        <th>@Html.DisplayNameFor(model => model.ProductName)</th>
        <th>@Html.DisplayNameFor(model => model.ProductPrice)</th>

    </tr>

    <!-- This loops through each item and displays it-->
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => item.ProductKey)</td>
            <td>@Html.DisplayFor(model => item.ProductName)</td>
            <td>@Html.DisplayFor(model => item.ProductPrice)</td>
      
        </tr>
    }

</table>
